.setTempUpdate{ 
	display: none; 
	color: green;
}

.green{ 
	color: green;
}

#header{ 
	padding : 3%;
}

.logo{ 
	font-family: 'Baloo', cursive;
}

.control{ 
	color: #D3D3D3;
}

.status{ 
	
}
.active{ 
  border-radius: 100%; 
	background: green;
	width: 20px; 
	height: 20px;
}

.notActive{ 
	border-radius: 100%; 
	background: red;
	width: 20px; 
	height: 20px;
}


